In [55]:
# imports for basic data handling and numeric computations
import numpy as np
import pandas as pd

# import the EDA helper functions
from Utils.datascienceutils import DataScienceUtils as dsu

import seaborn as sns
import matplotlib.pyplot as plt

# import one-hot encoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# import libraries necessary for imputing
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [56]:
# read in the training set

#travel train set
df_travel_train: pd.DataFrame = pd.read_csv('Data/Traveldata_train.csv')

#survey train set
df_survey_train: pd.DataFrame = pd.read_csv('Data/Surveydata_train.csv')

#read in the test set

#travel test set
df_travel_test: pd.DataFrame = pd.read_csv('Data/Traveldata_test.csv')

#survery test set
df_survey_test: pd.DataFrame = pd.read_csv('Data/Surveydata_test.csv')

# Data Inspection

In [57]:
# inspect the travel df
df_travel_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  object
 2   Customer_Type            85428 non-null  object
 3   Age                      94346 non-null  float64
 4   Type_Travel              85153 non-null  object
 5   Travel_Class             94379 non-null  object
 6   Travel_Distance          94379 non-null  int64
 7   Departure_Delay_in_Mins  94322 non-null  float64
 8   Arrival_Delay_in_Mins    94022 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 6.5+ MB

In [58]:
#dsu.inspect_variable_values(df_travel_train)

In [59]:
# inspect the survey data dataframe
df_survey_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_Comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_Time_Convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_Location        94349 non-null  object
 7   Onboard_Wifi_Service     94349 non-null  object
 8   Onboard_Entertainment    94361 non-null  object
 9   Online_Support           94288 non-null  object
 10  Ease_of_Online_Booking   94306 non-null  object
 11  Onboard_Service          86778 non-null  object
 12  Legroom                  94289 non-null  object
 13  Baggage_Handling         94237 non-null  object
 14  CheckIn_Service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_Boarding          94373 non-null  object
dtypes: int64(2), object(15)
memory usage: 12.2+ MB

In [60]:
# inspect the values of the variables in the survey data dataset
#dsu.inspect_variable_values(df_survey_train)

## Merging the Datasets

In [61]:
# we need to merge the two datasets

df_train: pd.DataFrame = pd.merge(df_travel_train, df_survey_train, how='inner', on=['ID'])

df_assessment: pd.DataFrame = pd.merge(df_travel_test, df_survey_test, how='inner', on=['ID'])

In [62]:
# inspect the columns of the new dataframe
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  object
 2   Customer_Type            85428 non-null  object
 3   Age                      94346 non-null  float64
 4   Type_Travel              85153 non-null  object
 5   Travel_Class             94379 non-null  object
 6   Travel_Distance          94379 non-null  int64
 7   Departure_Delay_in_Mins  94322 non-null  float64
 8   Arrival_Delay_in_Mins    94022 non-null  float64
 9   Overall_Experience       94379 non-null  int64
 10  Seat_Comfort             94318 non-null  object
 11  Seat_Class               94379 non-null  object
 12  Arrival_Time_Convenient  85449 non-null  object
 13  Catering                 85638 non-null  object
 14  Platform_Location        94349 non-null  object
 15  Onboard_Wifi_Service     94349 non-null  object
 16  Onboard_Entertainment    94361 non-null  object
 17  Online_Support           94288 non-null  object
 18  Ease_of_Online_Booking   94306 non-null  object
 19  Onboard_Service          86778 non-null  object
 20  Legroom                  94289 non-null  object
 21  Baggage_Handling         94237 non-null  object
 22  CheckIn_Service          94302 non-null  object
 23  Cleanliness              94373 non-null  object
 24  Online_Boarding          94373 non-null  object
dtypes: float64(3), int64(3), object(19)
memory usage: 18.0+ MB

In [63]:
# inspect the variables of the merged dataframe

#dsu.inspect_variable_values(df_train)

In [64]:
# split variables by type for EDA
numerical_vars, categorical_vars, binary_vars = dsu.get_vars_by_type(df_train)

In [65]:
print(numerical_vars, '\n', categorical_vars, '\n', binary_vars)

['ID', 'Age', 'Travel_Distance', 'Departure_Delay_in_Mins', 'Arrival_Delay_in_Mins']
 ['Seat_Comfort', 'Arrival_Time_Convenient', 'Catering', 'Platform_Location', 'Onboard_Wifi_Service', 'Onboard_Entertainment', 'Online_Support', 'Ease_of_Online_Booking', 'Onboard_Service', 'Legroom', 'Baggage_Handling', 'CheckIn_Service', 'Cleanliness', 'Online_Boarding']
 ['Gender', 'Customer_Type', 'Type_Travel', 'Travel_Class', 'Overall_Experience', 'Seat_Class']

In [66]:
# store the name of the target for later use
target = "Overall_Experience"
#binary_vars.remove(target)

# EDA

## Univariate Analysis

### Numerical Variables

In [67]:
# analyze the numerical variables in the travel dataset
#dsu.analyze_numerical_features(df_train, numerical_vars)

In [68]:
# inspect the correlations in the data
#df_train[numerical_vars].corr()

### Categorical Variables

In [69]:
# analyze the categorical variables of the travel dataset
#dsu.analyze_categorical_features(df_train, categorical_vars)

### Binary Variables

In [70]:
# analyze the binary variables
#dsu.analyze_binary_features(df_train, binary_vars)

### Analysis

**Gender**: The distribution of Males vs Females in the dataset is almost uniform.

**Customer Type:** Most customers (~82%) are loyal customers, with 18% being non-loyal customers.

**Type Travel:** Approximately 68% of customers are travelling for business purposes. The other 32% are travelling for personal reasons. 

**Travel Class:** The travel classes (economy and business) have very similar distributions. Slightly more individuals (52%) travel on economy flights, with the other 48% travelling on business.

**Overall Experience.** Approximately 55% (45% dissatisfied) of customers are satisfied with their travel experience.

**Seat Class:** The values in the Seat Class variable (Green Car, Ordinary) have almost identical distributions.

## Bivariate Analysis

### Numerical Variables

In [71]:
# bivariate analysis of numerical features
#dsu.analyze_numerical_features(df_train, numerical_vars, bivariate=True, target=target)

### Categorical Variables

In [72]:
#df_train[target] = df_train[target].astype(str)

In [73]:
# analyze the categorical vars
#dsu.analyze_categorical_features(df_train, categorical_vars, bivariate=True, target=target)

### Analysis

The categorical are all ordinal in nature. 

The ranking systems from extremely poor to excellent demonstrate that in most cases, poor ratings lead to dissatisfied consumers.

### Binary Variables

In [74]:
# analyze the binary features

# remove the target from the list of variables
binary_vars.remove(target)

# inspect the distribution
#dsu.analyze_categorical_features(df_train, binary_vars, bivariate=True, target=target)

### Analysis:

Seat Class: The distribution of the values of the Seat Class variable are identical and therefore not relevant for the analysis. 

Travel Class: Clearly customers who travel in the business class show higher satisfaction rates, while consumers travelling economy are more likely to be dissatisfied.

# Data Preprocessing:

## Drop Irrelevant Columns

In [75]:
# drop columns that have no value
df_train.drop(columns=["ID", "Seat_Class"], inplace=True)
df_assessment.drop(columns=["ID", "Seat_Class"], inplace=True)

# and remove from the list
numerical_vars.remove("ID")
binary_vars.remove("Seat_Class")

In [76]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   94302 non-null  object
 1   Customer_Type            85428 non-null  object
 2   Age                      94346 non-null  float64
 3   Type_Travel              85153 non-null  object
 4   Travel_Class             94379 non-null  object
 5   Travel_Distance          94379 non-null  int64
 6   Departure_Delay_in_Mins  94322 non-null  float64
 7   Arrival_Delay_in_Mins    94022 non-null  float64
 8   Overall_Experience       94379 non-null  int64
 9   Seat_Comfort             94318 non-null  object
 10  Arrival_Time_Convenient  85449 non-null  object
 11  Catering                 85638 non-null  object
 12  Platform_Location        94349 non-null  object
 13  Onboard_Wifi_Service     94349 non-null  object
 14  Onboard_Entertainment    94361 non-null  object
 15  Online_Support           94288 non-null  object
 16  Ease_of_Online_Booking   94306 non-null  object
 17  Onboard_Service          86778 non-null  object
 18  Legroom                  94289 non-null  object
 19  Baggage_Handling         94237 non-null  object
 20  CheckIn_Service          94302 non-null  object
 21  Cleanliness              94373 non-null  object
 22  Online_Boarding          94373 non-null  object
dtypes: float64(3), int64(2), object(18)
memory usage: 16.6+ MB

## Impute Missing Data

In [77]:
# columns with missing data
df_train.isna().sum()

Gender                       77
Customer_Type              8951
Age                          33
Type_Travel                9226
Travel_Class                  0
Travel_Distance               0
Departure_Delay_in_Mins      57
Arrival_Delay_in_Mins       357
Overall_Experience            0
Seat_Comfort                 61
Arrival_Time_Convenient    8930
Catering                   8741
Platform_Location            30
Onboard_Wifi_Service         30
Onboard_Entertainment        18
Online_Support               91
Ease_of_Online_Booking       73
Onboard_Service            7601
Legroom                      90
Baggage_Handling            142
CheckIn_Service              77
Cleanliness                   6
Online_Boarding               6
dtype: int64

### Imputation of numerical variables

In [78]:
# initialize the IterativeImputer instance
numeric_imputer: IterativeImputer = IterativeImputer(random_state=1)

# fit the test data to the imputer
numeric_imputer.fit(df_train[numerical_vars])

# transform the test data
df_train[numerical_vars] = numeric_imputer.transform(df_train[numerical_vars])

# impute values of dt_assessment also
df_assessment[numerical_vars] = numeric_imputer.transform(df_assessment[numerical_vars])

In [79]:
# test that there are no more nulls
df_train[numerical_vars].isna().sum()

Age                        0
Travel_Distance            0
Departure_Delay_in_Mins    0
Arrival_Delay_in_Mins      0
dtype: int64

In [81]:
# inspect the distribution of the data for significant changes
#dsu.analyze_numerical_features(df_train, numerical_vars)

## Encoding Categorical and Binary Variables

### Encoding the categorical variables

We cant impute missing values until the categorical variables have been encoded.

In [82]:
# initialize the mapping
# encode the categorical columns

loc = 'Platform_Location'

mapping_dict_loc = {'Very Convenient': int(6), 'Needs Improvement': int(3), 'Manageable': int(4), 'Inconvenient': int(2),
 'Convenient': int(5), 'Very Inconvenient': int(1)}

categorical_vars.remove(loc)

#dictionary to map the ordinal categories of the categorical variables
mapping_dict = {'Needs Improvement': int(2),  'Poor': int(1),  'Excellent': int(5), 'Acceptable': int(3), 'Good': int(4)}

# map each col in the categorical vars
for col in categorical_vars:
    df_train[col] = df_train[col].map(mapping_dict)
    df_assessment[col] = df_assessment[col].map(mapping_dict)

# mapp the Platform_Location 
df_train[loc] = df_train[loc].map(mapping_dict_loc)
df_assessment[loc] = df_assessment[loc].map(mapping_dict_loc)

In [83]:
# inspect the values of the encoded columns
#dsu.inspect_variable_values(df_train[categorical_vars])

In [84]:
# check the distribution of the data after imputing

#dsu.analyze_categorical_features(df_train, categorical_vars)

### Encoding Binary Variables

In [85]:


# initialize the one-hot encoder
binary_encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# mask to get nan values back to nan after encoding
nan_mask = df_train[binary_vars].isna()
nan_mask_assessment = df_assessment[binary_vars].isna()

# fit to the encoder
binary_encoder.fit(df_train[binary_vars])

# transform values to 0s and 1s
df_train[binary_vars] = binary_encoder.transform(df_train[binary_vars])

df_assessment[binary_vars] = binary_encoder.transform(df_assessment[binary_vars])

# reassign binary vars
df_train[nan_mask] = np.nan
df_assessment[nan_mask_assessment] = np.nan

## Impute Missing Data for binary and Categorical Columns

In [86]:
# encode the categorical columns

# list of columns to impute
cols_to_impute: list = categorical_vars + binary_vars
cols_to_impute.append(loc)

In [87]:
# initialize the KNN imputer
cat_imputer: KNNImputer = KNNImputer(n_neighbors=10, weights='distance')

# impute missing values
cat_imputer.fit(df_train[cols_to_impute])

# impute data for test set
df_train[cols_to_impute]: np.ndarray = cat_imputer.transform(df_train[cols_to_impute])

df_assessment[cols_to_impute] = cat_imputer.transform(df_assessment[cols_to_impute])

In [88]:
df_train.isna().any()

Gender                     False
Customer_Type              False
Age                        False
Type_Travel                False
Travel_Class               False
Travel_Distance            False
Departure_Delay_in_Mins    False
Arrival_Delay_in_Mins      False
Overall_Experience         False
Seat_Comfort               False
Arrival_Time_Convenient    False
Catering                   False
Platform_Location          False
Onboard_Wifi_Service       False
Onboard_Entertainment      False
Online_Support             False
Ease_of_Online_Booking     False
Onboard_Service            False
Legroom                    False
Baggage_Handling           False
CheckIn_Service            False
Cleanliness                False
Online_Boarding            False
dtype: bool

In [89]:
# inspect the assessment set
df_assessment.isna().any()

Gender                     False
Customer_Type              False
Age                        False
Type_Travel                False
Travel_Class               False
Travel_Distance            False
Departure_Delay_in_Mins    False
Arrival_Delay_in_Mins      False
Seat_Comfort               False
Arrival_Time_Convenient    False
Catering                   False
Platform_Location          False
Onboard_Wifi_Service       False
Onboard_Entertainment      False
Online_Support             False
Ease_of_Online_Booking     False
Onboard_Service            False
Legroom                    False
Baggage_Handling           False
CheckIn_Service            False
Cleanliness                False
Online_Boarding            False
dtype: bool

In [90]:
# function to cast values back to integers for categorical types
def to_int(x: float):
    if x < 1.5:
        return 1
    elif x < 2.5:
        return 2
    elif x < 3.5:
        return 3
    elif x < 4.5:
        return 4
    elif x < 5.5:
        return  5
    elif x < 6.5:
        return 6

In [91]:
for col in categorical_vars:
    df_train[col] = df_train[col].apply(to_int)
    df_assessment[col] = df_assessment[col].apply(to_int)

In [92]:
df_train.head()

,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins,Overall_Experience,Seat_Comfort,...,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,0.0,1.0,52.0,0.0,0.0,272.0,0.0,5.0,0,2,...,4,2,3,2,2,3,2,4,2,1
1,1.0,1.0,48.0,1.0,1.0,2200.0,9.0,0.0,0,1,...,4,1,4,4,5,2,1,2,4,4
2,0.0,1.0,43.0,0.0,0.0,1061.0,77.0,119.0,1,2,...,2,4,5,5,5,5,5,4,5,5
3,0.0,1.0,44.0,0.0,0.0,780.0,13.0,18.0,0,3,...,3,2,3,3,3,3,3,4,3,3
4,0.0,1.0,50.0,0.0,0.0,1981.0,0.0,0.0,1,3,...,2,4,5,4,4,4,4,4,4,4

In [93]:
# cast floats to integers for the platform variable
df_train['Platform_Location'] = df_train['Platform_Location'].apply(to_int)

# do the same for the assessment set
df_assessment['Platform_Location'] = df_assessment['Platform_Location'].apply(to_int)

In [94]:
def to_binary(x):
    if x < 0.5:
        return 0
    else:
        return 1

In [95]:
for col in binary_vars:
    df_train[col] = df_train[col].apply(to_binary)
    df_assessment[col] = df_assessment[col].apply(to_binary)

In [96]:
df_train.to_csv('ProcessedData/train_data_unscaled.csv', index=False)
df_assessment.to_csv('ProcessedData/test_data_unscaled.csv', index=False)

# Data Preparation

Prepare the data for creation of ML models by splitting into target and features, as well as scaling the data using the standard scaler.

In [97]:
#df_train = pd.read_csv("ProcessedData/train_data.csv")
#df_assessment = pd.read_csv("ProcessedData/test_data.csv")

In [98]:
df_train.head()

,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins,Overall_Experience,Seat_Comfort,...,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,0,1,52.0,0,0,272.0,0.0,5.0,0,2,...,4,2,3,2,2,3,2,4,2,1
1,1,1,48.0,1,1,2200.0,9.0,0.0,0,1,...,4,1,4,4,5,2,1,2,4,4
2,0,1,43.0,0,0,1061.0,77.0,119.0,1,2,...,2,4,5,5,5,5,5,4,5,5
3,0,1,44.0,0,0,780.0,13.0,18.0,0,3,...,3,2,3,3,3,3,3,4,3,3
4,0,1,50.0,0,0,1981.0,0.0,0.0,1,3,...,2,4,5,4,4,4,4,4,4,4

In [99]:
# get a dataframe of only the target features
Y: pd.Series = df_train[target]

X: pd.DataFrame = df_train.drop(columns=target).copy()

In [100]:
from sklearn.preprocessing import StandardScaler

In [101]:
# initialize the standard scalar instance
sc = StandardScaler()

sc.fit(X)

scaled_X_train = sc.transform(X)

scaled_X_test = sc.transform(df_assessment)

In [102]:
df_train_scaled: pd.DataFrame = pd.DataFrame(data=scaled_X_train, columns=X.columns)

# get the target col back
df_train_scaled[target] = Y

X_test_scaled: pd.DataFrame = pd.DataFrame(data=scaled_X_test, columns=df_assessment.columns)

In [103]:
df_train_scaled.to_csv("ProcessedData/train_scaled.csv", index=False)
X_test_scaled.to_csv('ProcessedData/X_test_scaled.csv', index=False)